#!/usr/bin/make -f

#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_build:
	if test -n "$(strip $(RUST_TOOLCHAIN))"; then \
		dh_auto_build -- RUST_TOOLCHAIN="$(RUST_TOOLCHAIN)"; \
	else \
		dh_auto_build; \
	fi

override_dh_auto_test:
	./tests/package-metadata.sh
	dh_auto_test
