[Unit]
Description=Start Regolith Input Daemon
PartOf=regolith-gnome.target regolith-cosmic.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=exec
ExecStart=/usr/bin/regolith-inputd
Restart=on-failure


[Install]
WantedBy=regolith-gnome.target regolith-cosmic.target
