[Unit]
Description=Start Regolith Input Daemon
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=exec
ExecStart=/usr/bin/regolith-inputd
Restart=on-failure


[Install]
WantedBy=regolith-gnome.target regolith-cosmic.target
